# ==========================================
# Variáveis de Ambiente e Segredos (CRÍTICO)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
credentials.json
key.json

# ==========================================
# Bancos de Dados
# ==========================================
*.db
*.sqlite3
*.sqlite
/database.sqlite
/database.sqlite-journal

# ==========================================
# Arquivos de Configuração Local/IDE
# ==========================================
.vscode/
.idea/
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================================
# Logs e Temporários
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
tmp/
temp/

# ==========================================
# Dependências e Compilação
# ==========================================
node_modules/
dist/
build/
obj/
/vendor/

# ==========================================
# Arquivos do Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


analysis_options.yaml
pubspec.lock
pubspec.yaml
.dart_tool